#input-age-verification, #content{
  text-align: center;
}
input{
  border-bottom: 2px;
}
h1{

}
@media screen and (min-width: 480px) {
  #input-age-verification, #content {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 77%;
  }
  #signup {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
}
@media screen and (min-width: 768px) {
  #input-age-verification, #content {
      text-align: center;
      margin: 3% auto 0 auto;
      width: 65%;
    }
  #signup {
    width: 26%;
  }
}
