/* BASE STYLES
  ====================================================================================== */

/*
  Major Sixth Modular Scale:
  https://www.modularscale.com/?22&px&1.667
*/
body{
  padding-bottom: 1.667em;
  padding-top: 1.667em;
}
html, #signup{
  font-family: 'Oxanium', 'Open Sans';
}
#content{
  text-align: center;
}
input{
  background-color: #E27D60;
  border-color: #E27D60;
}
label{
  display: block;
}
#signup{
  background-color: #116466;
  border-color: #116466;
  color: white;
}
h1{
  line-height: 1.2em;
  font-size: 1.667em;
}
ol{
  line-height: 1.667em;
}
p{
  font-size: 0.8em;
  line-height: 1.667em;
}
img{
  width: 100%;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  #input-age-verification, #content {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 77%;
  }
  #signup {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
  main{
    background-color: #FCE4D8;
    border: 1px solid red;
    box-shadow: 0 0 0.2222222222em 0.1111111111em grey;
  }
  form{
    padding-bottom: 1.667em;
  }

}
@media screen and (min-width: 768px) {
  #input-age-verification, #content {
      text-align: center;
      margin: 3% auto 0 auto;
      width: 65%;
    }
  #signup {
    width: 26%;
  }
}
